# Project exclude paths
/.gradle/
/Minesweeper/task/build/
/Minesweeper/task/out/
/Minesweeper/task/out/production/classes/
/Problems/Even numbers go first/out/
/Problems/Even numbers go first/out/production/classes/
/Problems/Find the nearest number/out/
/Problems/Find the nearest number/out/production/classes/
/Problems/Which brackets are balanced/out/
/Problems/Which brackets are balanced/out/production/classes/